body {
    display: flex; 
    justify-content: center; 
    align-items: center; 
     
    min-height: 100vh; 
    padding: 0 24px;
    margin: 0; 
    
    background: linear-gradient(to right, #45a247, #283c86);
    font-family: 'Roboto', Arial;

    /* Stretch the background to be 130% of its original width and 130% of its original height. */
    background-size: 130% 130%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
    /* Background goes from center left, to center right, back to center left */
    /* https://dev.to/this-is-learning/all-you-need-to-know-about-background-position-3aac#percentage-values */
	0% {
		background-position: 0% 50%; /* Center Left */
	}
	50% {
		background-position: 100% 50%; /* Center Right */
	}
	100% {
		background-position: 0% 50%; /* Center Left */
	}
}

/* Buttons and form elements do not inherit font settings from parent by default */
input, button {
    font-family: inherit
}

input {
    background-color: transparent;
    color: white;
    outline: none;
}

input::placeholder {
    color: hsla(0, 0%, 100%, 0.7);
}

input:focus::placeholder {
    color: transparent;
  }

.login-box {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    align-items: center;

    min-width: 300px;
    max-width: 650px;
    height: 400px;
   
    box-shadow: 0px 0px 20px 10px white;
    border-radius: 12px;
}

.sign-in-text {
    margin-top: 50px;
    margin-bottom: 0;

    font-weight: 400; 
    font-size: 48px;

    color: white;
}

.username, .password {
    margin-top: 50px;

    border: none;
    border-bottom: 2px solid white;
}

.username, .password, .sign-in-button {
    width: 50%;
    min-width: 150px;
    max-width: 200px;
}

.sign-in-button {
    height: 40px;
    margin-top: 40px;

    border: none;
    border-radius: 20px;

    background-color: hsl(0, 0%, 100%); 
    mix-blend-mode: screen;
}

.sign-in-button:hover { 
    box-shadow: inset 0 0 10px 0 white, 
                0 0 20px 2px white;

    text-shadow: 0 0 10px hsl(121, 40%, 80%);
    cursor: pointer;
}

.sign-in-button:active {
    transform: scale(1.1);
}